<div>

  <h3>Series</h3>
  <input #serieBox type="text" pInputText value="breaking" (keyup.enter)="search(serieBox.value)"/>
  <button pButton type="button" label="Lookup" (click)="search(serieBox.value)"></button>

  <p-dialog header="Information" [(visible)]="display" [width]="500">
    <!--<pre>{{theSerie | json}}</pre>-->
    <strong>Name:</strong> {{theSerie?.name}}<br>
    <strong>Original Name:</strong> {{theSerie?.original_name}}<br>
    <strong>First Air Date:</strong> {{theSerie?.first_air_date}}<br>
    <hr>
    <strong>Original Language:</strong> {{theSerie?.original_language}}<br>
    <strong>Origin Country:</strong> {{theSerie?.origin_country}}<br>
    <hr>
    <strong>Votes:</strong> {{theSerie?.vote_average}} ({{theSerie?.vote_count}})<br>
    <strong>Popularity:</strong> {{theSerie?.popularity}}<br>
    <!--<strong>Genres:</strong> {{theSerie?.genre_ids}}<br>-->
    <strong>Genres:</strong> {{currentGenres}}<br>
  </p-dialog>

  <div style="margin-top: 10px">
    <p-card *ngFor="let serie of searchResults" class="serieCard">
      <div class="ui-g">
        <div class="ui-g-12">
          <strong>{{ (serie.name.length>30)? (serie.name | slice:0:30)+'...':(serie.name)}}</strong>
          <p>{{serie | json}}</p>

<!--
          <p>{{serie.id}}</p>
          <p>{{serie.original_name}}</p>
          <p>{{serie.name}}</p>
          <p>{{serie.genre_ids}}</p>
          <p>{{serie.popularity}}</p>
          <p>{{serie.origin_country}}</p>
          <p>{{serie.original_language}}</p>
          <p>{{serie.vote_count}}</p>
          <p>{{serie.vote_average}}</p>
          <p>{{serie.first_air_date}}</p>
          <p>{{serie.overview}}</p>
          <p>{{serie.overview}}</p>
          <p>{{serie.backdrop_path}}</p>
          <p>{{serie.poster_path}}</p>
-->

        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-2">
          <img class="poster" src="http://image.tmdb.org/t/p/w92//{{serie.poster_path}}">
          <img src="http://image.tmdb.org/t/p/original//{{serie.backdrop_path}}">
        </div>
        <div class="ui-g-8">
          <p>{{serie.overview || 'N/A'}}</p>
        </div>
        <div class="ui-g-2">
          <button icon="pi pi-info-circle" label="Info" type="text" (click)="showDialog(serie)" pButton></button>
          <br>
          <button icon="pi pi-bars" label="Seasons" pButton type="button" (click)="getSeasons(serie.id)"></button>
          <br>
          <p-button icon="pi pi-star" label="Unstar" (click)="removeFavorite(serie.id, $event)" *ngIf="isStored(serie.id)"></p-button>
          <p-button icon="pi pi-star-o" label="Star" (click)="saveFavorite(serie.id, $event)" *ngIf="!isStored(serie.id)"></p-button>
        </div>
      </div>
    </p-card>

    <div style="clear:both;">
      <h3 title="for: {{selectedSerie}}">Seasons (Total: {{ seasonResults?.length }} seasons)</h3>
      <div *ngFor="let season of seasonResults">
        <mat-card class="example-card" ngClass="seasonCard">
          <h4>{{season.name}}</h4>
          <img src="http://image.tmdb.org/t/p/w92//{{season.poster_path}}">
          <br>
          <button mat-raised-button color="primary" (click)="getEpisodes(season.season_number)">getEpisodes</button>
        </mat-card>
      </div>
    </div>

    <div style="clear:both;">
      <h3 title="for: {{selectedSerie}}">Episodes</h3>
      <ul *ngFor="let episode of episodeResults">
        <li>
          <span style="font-weight: bold;">{{episode.name}}</span>
          <span [style.color]="getDateColor(episode.air_date)">{{episode.air_date}}</span>
          <span>{{episode.overview}}</span>
          <mat-divider></mat-divider>
        </li>
      </ul>
    </div>

  </div>

</div>
