<div>

  <h3>Series</h3>
  <input #serieBox type="text" pInputText value="breaking" (keyup.enter)="search(serieBox.value)"/>
  <button pButton type="button" label="Lookup" (click)="search(serieBox.value)"></button>

  <p-dialog header="Description" [(visible)]="display" [width]="500">
    <strong>{{name}}</strong>
    <p>{{overview}}</p>
  </p-dialog>

  <!--<p-listbox [options]="cities1" [(ngModel)]="selectedCity1"></p-listbox>
  <span>{{ selectedCity1 }}</span>-->

  <div>
    <p-card *ngFor="let serie of searchResults" class="serieCard">
        <div class="ui-g">
          <div class="ui-g-12">
            <strong>{{ (serie.name.length>30)? (serie.name | slice:0:30)+'...':(serie.name)}}</strong>
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-6">
            <img class="poster" src="http://image.tmdb.org/t/p/w92//{{serie.poster_path}}">
          </div>
          <div class="ui-g-6">
            <button icon="pi pi-bars" label="Seasons" pButton type="button" (click)="getSeasons(serie.id)"></button>
            <br>
            <button icon="pi pi-info-circle" label="Info" type="text" (click)="showDialog(serie.overview, serie.name)" pButton></button>
            <br>
            <p-button icon="pi pi-star" label="Unstar" (click)="removeFavorite(serie.id, $event)" *ngIf="isStored(serie.id)"></p-button>
            <p-button icon="pi pi-star-o" label="Star" (click)="saveFavorite(serie.id, $event)" *ngIf="!isStored(serie.id)"></p-button>
          </div>
        </div>
    </p-card>

    <div style="clear:both;">
      <h3 title="for: {{selectedSerie}}">Seasons (Total: {{ seasonResults?.length }} seasons)</h3>
      <div *ngFor="let season of seasonResults">
        <mat-card class="example-card" ngClass="seasonCard">
          <h4>{{season.name}}</h4>
          <img src="http://image.tmdb.org/t/p/w92//{{season.poster_path}}">
          <br>
          <button mat-raised-button color="primary" (click)="getEpisodes(season.season_number)">getEpisodes</button>
        </mat-card>
      </div>
    </div>

    <div style="clear:both;">
      <h3 title="for: {{selectedSerie}}">Episodes</h3>
      <ul *ngFor="let episode of episodeResults">
        <li>
          <span style="font-weight: bold;">{{episode.name}}</span>
          <span [style.color]="getDateColor(episode.air_date)">{{episode.air_date}}</span>
          <span>{{episode.overview}}</span>
          <mat-divider></mat-divider>
        </li>
      </ul>
    </div>

  </div>

</div>
