<button icon="pi pi-info-circle" label="back" type="text" (click)="goBack()" pButton></button>

<h2>Details</h2>
<pre>{{serie | json}}</pre>
<!--"backdrop_path": "/eSzpy96DwBujGFj0xMbXBcGcfxX.jpg",-->
<!--
<img src="http://image.tmdb.org/t/p/original//{{serie?.backdrop_path}}">
<img src="http://image.tmdb.org/t/p/original//{{serie?.poster_path}}">
-->

<h2>Seasons</h2>
<pre>{{seasons | json}}</pre>
<div style="clear:both;">
  <!--<h3 title="for: {{selectedSerie}}">Seasons (Total: {{ seasonResults?.length }} seasons)</h3>-->
  <div *ngFor="let season of seasons">
    <mat-card class="example-card" ngClass="seasonCard">
      <h4>{{season?.name}}</h4>
      <img src="http://image.tmdb.org/t/p/w92//{{season?.poster_path}}">
      <br>
      <button mat-raised-button color="primary" (click)="getEpisodes(season?.season_number)">getEpisodes</button>
    </mat-card>
  </div>
</div>

<h2>Espisodes</h2>

<div style="clear:both;">
  <!--<h3 title="for: {{selectedSerie}}">Episodes</h3>-->
  <ul *ngFor="let episode of episodeResults">
    <li>
      <span style="font-weight: bold;">{{episode?.name}}</span>
      <span [style.color]="getDateColor(episode?.air_date)">{{episode?.air_date}}</span>
      <span>{{episode?.overview}}</span>
      <mat-divider></mat-divider>
    </li>
  </ul>
</div>

<pre>{{episodeResults | json}}</pre>

<!--
<div *ngIf="hero">
  <h2>{{hero.name}} details!</h2>
  <div>
    <label>id: </label>{{hero.id}}</div>
  <div>
    <label>name: </label>
    <input [(ngModel)]="hero.name" placeholder="name" />
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
-->


