.serieCard {
  float: left;
  width: 200px;
  min-height: 350px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.seasonCard {
  float: left;
  width: 200px;
  min-height: 200px;
  margin-right: 10px;
  margin-bottom: 10px;
}
