<div>
  <p-panel header="TV Series">

    <input #serieBox type="text" pInputText value="walking" (keyup.enter)="search(serieBox.value)"/>
    <button pButton type="button" label="Lookup" (click)="search(serieBox.value)"></button>

    <!--<p>{{searchResults | json}}</p>
    <hr>-->
    <!--<p>{{allGenres | json}}</p>-->

    <!-- todo: extract -->
    <p-dialog header="Information" [(visible)]="display" [width]="500">
      <strong>Name:</strong> {{theSerie?.name}}<br>
      <strong>Original Name:</strong> {{theSerie?.original_name}}<br>
      <strong>First Air Date:</strong> {{theSerie?.first_air_date}}<br>
      <hr>
      <strong>Original Language:</strong> {{theSerie?.original_language}}<br>
      <strong>Origin Country:</strong> {{theSerie?.origin_country}}<br>
      <hr>
      <strong>Votes:</strong> {{theSerie?.vote_average}} ({{theSerie?.vote_count}})<br>
      <strong>Popularity:</strong> {{theSerie?.popularity}}<br>
      <strong>Genres:</strong> {{currentGenres}}<br>
    </p-dialog>

    <div>
      <div *ngFor="let serie of searchResults" style="margin: 10px; display: inline-block;">
        <app-serie-card [serie]="serie"></app-serie-card>
      </div>
    </div>
  </p-panel>

  <br>
  <p-panel header="Seasons">
    <div *ngFor="let season of seasonResults" style="margin: 10px; display: inline-block;">
      <p-card [style]="{width: '200px'}">
        <span style="font-weight: bold">{{season.name}}</span>
        <img src="http://image.tmdb.org/t/p/w154//{{season.poster_path}}">
        <br>
        <button pButton (click)="getEpisodes(season.season_number)" label="Get Episodes"></button>&nbsp;
      </p-card>
    </div>
  </p-panel>

  <br>
  <p-panel header="Episodes">
    <ul *ngFor="let episode of episodeResults">
      <li>
        <span style="font-weight: bold;">&quot;{{episode.name}}&quot;</span>
        <span [style.color]="getDateColor(episode.air_date)">&nbsp;({{episode.air_date}})</span><br>
        <span>{{episode.overview}}</span>
        <hr>
      </li>
    </ul>
  </p-panel>
</div>

