/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

img {
  opacity: 0.2;
}

body {
  font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  margin: 0;
}

.header-section {
  background: #2f365f;
  color: #fff;
}

.left-section, .center-section {
  background-color: rgb(241, 245, 248);
}

.right-section {
  background-color: rgb(234, 241, 247);
}

.ui-g > div {
  border-right: solid 1px white;
}
