/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

img {
  opacity: 0.2;
}

body {
  font-family: Roboto, sans-serif;
  color: rgba(0, 0, 0, 0.6);
  background-color: #f1f5f8;
  margin: 0;
}

.content-section {
  height: 100vh;
}

.header-section {
  background: #2f365f;
  color: #fff;
}

.left-section, .center-section {
  background-color: #f1f5f8;
}

.right-section {
  background-color: #eaf1f7;
}

.ui-g > div {
  border-right: solid 1px white;
}
